# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/

# Environment
.env
.env.*

# VS Code
.vscode/

# Python Cache
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Temp
temp/